@{
  Layout = "_Layout";
}

@using VendorOrderTracker.Models;

<h1>Order Information</h1>

<h4>Order Id: @Model.GetOrderId()</h4>
<h4>Vendor Id: @Model.GetOrderVendorUniqueId()</h4>
<h4>Vendor Name: @Model.GetOrderVendorName()</h4>
<h4>Title: @Model.GetTitle()</h4>
<h4>Description: @Model.GetDescription()</h4>
<h4>Price: @Model.GetPrice()</h4>
<h4>Order Date: @Model.GetOrderDate()</h4>
<h4>Date for Delivery: @Model.GetDeliveryForDate()</h4>
<h4>Number of Sourdough: @Model.GetSourDough()</h4>
<h4>Number of Milk Loaves: @Model.GetMilkLoaf()</h4>
<h4>Number of Donuts: @Model.GetDonut()</h4>
<h4>Number of Croissants: @Model.GetCroissant()</h4>
<h4>Number of Quiche: @Model.GetQuiche()</h4>
<h4>Number of Cheese Puffs: @Model.GetCheesePuff()</h4>

<p><a href="/vendors">Vendors</a></p>
<p><a href="/orders">Orders</a></p>
<p><a href="/">Home</a></p>

